---
import { ArticleClient } from "../../clients/article";
import Badge from "../../components/badge.astro";
import Layout from "../../layouts/index.astro";

export const getStaticPaths = async () => {
  const articles = await ArticleClient.findArticles();

  return articles.map((article) => ({
    params: { id: article.id },
    props: { article },
  }));
};

const { article } = Astro.props;
---

<Layout>
  <div class="container mx-auto mt-5 xl:max-w-4xl">
    <div class="flex flex-col space-y-4">
      <p>最終更新日: {article.updatedAt}</p>
      <h1 class="text-3xl font-bold">{article.title}</h1>
      <Badge category={article.category} />
    </div>
    <div class="divider"></div>
    <div set:html={article.content} />
  </div>
</Layout>
