---
import { ArticleClient } from "../../clients/article";
import Badge from "../../components/badge.astro";
import Layout from "../../layouts/index.astro";

export const getStaticPaths = async () => {
  const articles = await ArticleClient.findArticles();

  return articles.map((article) => ({
    params: { id: article.id },
    props: { article },
  }));
};

const { article } = Astro.props;
---

<Layout>
  <div class="container mx-auto">
    {article.createdAt}
    <h1 class="text-2xl font-bold">{article.title}</h1>
    <Badge category={article.category} />
    <Fragment set:html={article.content} />
  </div>
</Layout>
