---
import type { Article } from "../../clients/type";
import Badge from "../badge.astro";

type Props = {
  article: Article;
};

const { article } = Astro.props;
---

<div class="card bg-neutral w-full shrink-0 shadow-2xl" data-testId="article-card">
  <div class="card-body">
    <h2 class="card-title">{article.title}</h2>
    <Badge category={article.category} />
    <div class="card-actions justify-between">
      最終更新日: {article.createdAt}
      <a href={`/articles/${article.id}`} class="link link-primary">Read more &rarr;</a>
    </div>
  </div>
</div>
