---
import { ArticleClient } from "../clients/article";
import Layout from "../layouts/index.astro";

const articles = await ArticleClient.findArticles();
---

<Layout>
	{articles.map(article => (
		<a href={`/articles/${article.id}`}>{article.title}</a>
	))}
</Layout>
