---
import MenuIcon from "./icon/menu.astro";
---

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">Meuzi Blog</a>
  </div>
  <div class="flex-none">
    <label for="my-drawer-4" class="drawer-button btn btn-ghost">
      <MenuIcon />
    </label>
  </div>
</div>
